* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4286f4;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

body {
    font-family: $base-ff;
    font-size: $base-fs;
    font-weight: 300;
    line-height: $base-lh;
    background: #0e0e0e;
    color: $text-color;
    max-width: 800px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    border: 1px dashed $h-color;
    border-top: none;

    padding: 0 20px;
    @include media-query($on-palm) {
            border: none;
            padding: 10px;
    }
}

h1 {
    color: $h-color;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: $h-color;
    font-size: 25;
}

h3,h4,h5,h6 {
    color: $h-color;
    font-size: 20px;
}

a {
    color: $h-color;
    text-decoration: none;
    &:hover {
        background-color: $h-color;
        color: #444;
    }
}

header {
     border-bottom: 1px dashed $h-color;
}


nav {
    text-align: right;
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 0;
        li {
            display: inline-block;
            margin-left: 0.5em;
            &:before {
                content: ' /';
                color: $h-color;
            }
        }
    }
}

.center {
    margin: 0 auto;
    display: block;
}

img {
    padding: 15px 0px 5px;
    max-width: 90%;
}

video {
    padding: 15px 0px 5px;
    max-width: 90%;
}

code, pre {
    overflow: auto;
    padding: 2px 4px;
    background-color: rgb(35, 35, 35);
}

blockquote {
    border-left: 1px solid $h-color;
    padding-left: 1em;
}
.title-a {
    display: inline-block;
    border: 1px dashed;
    padding: 2px 15px;
    margin-bottom: 1em;
    h1:before{
        content: "";
    }
    &:hover > .title {
        color: #000;
    }
}

.title {
    display: block;
    font-size: 1.35em;
    &:after {
        content: "";
    }
}
footer {
    padding: 10px;
    border-top: 1px dashed $h-color;
    p {
        display: inline-block;
        span {
            color: palevioletred;
        }
    }
}

.anchorjs-link {
    &:hover {
        background-color: #0e0e0e;
        color: white;
    }
}
